{{ "<!-- program -->" | safeHTML }}
<section id="program" {{ if .Site.Params.evena.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.program.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
    </div>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/1MHVD9VFwEutmR" width="668" height="714" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/OlgunAydn/satrday-gdansk-2019-program" title="SatRday Gdansk 2019 - Program" target="_blank">SatRday Gdansk 2019 - Program</a> </strong> from <strong><a href="https://www.slideshare.net/OlgunAydn" target="_blank">Olgun Aydın</a></strong> </div>
  </div>
</section>
