{{ "<!-- program -->" | safeHTML }}
<section id="program" {{ if .Site.Params.evena.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.program.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
    </div>
<iframe src="https://drive.google.com/viewerng/viewer?url=https://drive.google.com/file/d/1x22tyXN2IRWb0wDVaJ1wmiI4wZULME6H/preview&hl=en&pid=explorer&efh=false&a=v&chrome=false&embedded=true" frameborder="0"></iframe>
  </div>
</section>




