{{ "<!-- program -->" | safeHTML }}
<section id="program" {{ if .Site.Params.evena.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.program.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
    </div>
<iframe src="https://drive.google.com/viewerng/viewer?url=http://docs.google.com/fileview?id=1x22tyXN2IRWb0wDVaJ1wmiI4wZULME6H&hl=en&pid=explorer&efh=false&a=v&chrome=false&embedded=true" height="775" width="100%" vspace="0" hspace="0" marginheight="4" marginwidth="100" scrolling="auto" allowtransparency="true"></iframe> 
  </div>
</section>

